/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2018, 6:20:16 PM
    Author     : User
*/

html body nav ul li{
    padding: 0px ;
    margin: 0px;
}

.col-6{
    float: left;
    width: 44%;
    height: 70px;
    border: solid;
    border-color: silver;
    border-radius: 5px;
    margin: 5px 10px 5px 10px;    
}
.col-5{
    float: left;
    width: 40%;
    height: 70px;
    border: solid;
    border-color: silver;
    border-radius: 5px;
    /*margin: 2px 10px 2px 10px;*/    
}
.col-2{
    float: left;
    width: 12%;
    height: 70px;
    border: solid;
    border-color: silver;
    border-radius: 5px;
    
    /*margin: 2px 10px 2px 10px;*/    
}
.hidden{
    float: left;
    width: 0%;
    visibility: hidden;
}
button{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 95%;
    padding: 0px 0px 0px 0px;
  }
}

.text{
    text-align: center;
    font-size: 28px;
}
#get_author{
    border: hidden;
    width: 99%;
    height: 99%;
    align-content: center;

}
#content text html{
   
}

/*for menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
/*  position: fixed;
  top: 0;
  width: 100%;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
/*.buttonMoz{
    visibility: hidden;
}*/
